@media screen and (min-width: 35.5em) {

    body,
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 48em) {

    body,
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 64em) {

    body,
    html {
        font-size: 11px;
    }
}

@media screen and (min-width: 80em) {

    body,
    html {
        font-size: 11px;
    }
}

.container-header-promotion-area,
.header-row-menu {
    display: none;
}

.catalogue * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

        .beauty-menu {
          
            top: 0;
            width: 100%;
            transition: all 0.5s;
            position: relative;
            z-index: 111;
        }

        .fixed-nav .beauty-menu {
            position: fixed;
            box-shadow: 0 5px rgba(0, 0, 0, 0.1);
              background: white;
        }



.catalogue {
    display: inline-block;
    width: 100%;

    .gutter {
        margin: 10px;
        padding: 0px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    p {
        margin-bottom: 1.6rem;
        padding: 0;
        font-size: 1.4rem;
        line-height: 2.0rem;
    }

    a {
        font-size: 1.4rem;
        line-height: 2.0rem;
    }

    /*li {
        font-size: 1.4rem;
        line-height: 2.0rem;
        list-style-type: disc;
        margin-left: 2rem
    }*/

    h1 {
        font-size: 3.8rem;
        font-weight: 600;
        margin: 0px;
        line-height: 4.2rem;
        letter-spacing: 0.4rem;
        text-align: center;
        text-transform: uppercase;
    }

    h3 {
        font-size: 2.35rem;
        font-weight: 600;
        margin: 0px;
        line-height: 4rem;
        color: black;
        text-align: center;
        color: #632639;
    }

    h2 {
        font-size: 3rem;
        color: rgb(0, 0, 0);
        font-weight: 300;
        line-height: 3.8rem;
        text-align: center;
        padding-bottom: 10px;
        position: relative;
        color: #632639;

    }

    .text-center img {
        margin: 0 auto;
    }

    .padding {
        padding: 10px;
    }

    .x-large {
        max-width: 1270px;
        margin: 0 auto;
    }

    .large {
        max-width: 1110px;
        margin: 0 auto
    }

    .normal {
        max-width: 940px;
        margin: 0 auto;

        @media screen and (min-width: 48em) {
            padding: 10px;
        }
    }

    .medium {
        max-width: 750px;
        margin: 0 auto
    }

    .sml-gap {
        margin-top: 1rem;
    }

    .md-gap {
        margin-top: 2rem;
    }

    .xl-gap {
        margin-top: 4rem;
        @media screen and (max-width: 48em) {
            margin-top: 2rem;
        }
    }

    .xxl-gap {
        margin-top: 10rem;
    }

    .xxl-gap {
        margin-top: 10rem;
    }

    .sml-gap-bottom {
        padding-bottom: 2rem;
    }

    .relative {
        position: relative
    }

    .width75 {
        max-width: 70% !important;

        @media screen and (min-width: 48em) {
            max-width: 70% !important;
        }
    }

    .width50 {
        max-width: 50% !important;

    }

    .width40 {
        max-width: 40% !important;

        @media screen and (max-width: 48em) {
            max-width: 70% !important;
        }
    }

    p.small {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: 0.01em;
    }

    .absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .text-center {
        text-align: center
    }

    .flex-center {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .button-01 {
        background: black;
        padding: 5px 20px;
        color: white;
        font-size: 1.4rem !important;
        text-transform: uppercase;
        text-decoration: none !important;
        position: relative;
        border: 3px solid black;
        display: inline-block;
    }

    .button-01:hover {
        color: white !important
    }

    .text-left {
        text-align: left
    }

    h4 {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.5rem;
        margin: 5px;
    }

    .lg-txt {
        font-size: 1.6rem;
    }


   

    .menu-container {

       
        font-family: futura-pt, "proxima-nova", sans-serif;

        nav a {
            position: relative;
            display: inline-block;
            margin: 15px 15px;
            outline: none;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
            font-size: 2rem;
        }

        nav a:hover,
        nav a:focus {
            outline: none;
        }

        .color-10 {
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

        }

        /* Effect 10: reveal, push out */
        .cl-effect-10 {
            position: relative;
            z-index: 1;
                display: flex;
    align-items: center;
    justify-content: center;
                padding-bottom: 10px;
        }

        .cl-effect-10 a {
            overflow: hidden;
            margin: 0 3px;

            span.menu-01 {
                background: rgb(239, 77, 159);
                background: linear-gradient(90deg, rgba(239, 77, 159, 1) 0%, rgba(237, 64, 123, 1) 100%);
            }

            span.menu-02 {
                background: rgb(237, 64, 119);
                background: linear-gradient(90deg, rgba(237, 64, 119, 1) 0%, rgba(237, 65, 98, 1) 100%);
            }

            span.menu-03 {
                background: rgb(237, 66, 98);
                background: linear-gradient(90deg, rgba(237, 66, 98, 1) 0%, rgba(238, 69, 98, 1) 100%);
            }

            span.menu-04 {
                background: rgb(238, 68, 99);
                background: linear-gradient(90deg, rgba(238, 68, 99, 1) 0%, rgba(236, 52, 111, 1) 100%);
            }

            span.menu-05 {
                background: rgb(236, 49, 113);
                background: linear-gradient(90deg, rgba(236, 49, 113, 1) 0%, rgba(234, 33, 120, 1) 100%);
            }

        }

        .cl-effect-10 a span {
            display: block;
            padding: 20px 20px;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;

        }

        .cl-effect-10 a::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            padding: 20px 20px;
            /*width: 100%;*/
            height: 100%;
            background: #000;
            color: #fff;
            content: attr(data-hover);
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transform: translateX(-25%);
        }
        .cl-effect-10 a.beautylogo::before{
            display: none;
            
        }
        .cl-effect-10 a:hover span,
        .cl-effect-10 a:focus span {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            transform: translateX(100%);
        }

        .cl-effect-10 a:hover::before,
        .cl-effect-10 a:focus::before {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            transform: translateX(0%);
        }

    }


    .swiper-container {
        width: 100%;
        height: auto;
        padding: 0px;

    }

    .swiper-container .swiper-slide {
        min-height: 845px;
    }


    #subMenu {
        height: 80px;
        width: inherit;
        background: #000;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        padding: 10px;
    }


}

.tagline {
    text-align: center;

    img {
        max-width: 75%;

        @media screen and (min-width: 48em) {
            max-width: 40%;
        }

    }
}

.fragrance {
    background: #f8e6e6;
    background-image: url('../images/botanic-bbg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    position: relative;
  

    h1 {
        color: #ed3f7d;
        padding-top: 4rem;
    }
}



.content {
    background: white
}

.highlight {
    font-weight: 600;
    color: #e73378;
}

.odd {
    border-left: 10px solid #f8e6e6;
}

.even .page:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/book-marking.png) top left repeat-y;
    top: 0px;
    left: 0px;
    z-index:0
}

.fragrance-catalogue {
    .swiper-pagination {
        position: relative !important;
        bottom: 0px !important;
        background: #f8e6e6;
    }

}

.exclusions {
    background: #f8e6e6;
    text-align: left;

    p {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-top: 10px;
    }
}

.page {
    background: white;
    padding: 20px;
    min-height: 880px;
}

.swiper-wrapper,
.swiper-slide {
    background: #f8e6e6 !important;
}



.padding-tb {
    padding: 20px 0px 0px 0px;

}




.beautylogo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all .5s;
  font-weight: 600;
  font-size: 30px;
    opacity: 0;
    flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-nav .beautylogo {
    max-width: 50%;
    opacity: 1;
    @media screen and (max-width: 768px) {
    }
}
.header-row-one {
    padding: 0px;
    .span8{
    border: 0px solid red;
    padding-top:40px;
}
}


.beauty-menu nav {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.beauty-menu ul a {
    
   
}

#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}
/*Início das configurações da Navigation com dispositivos < 768px*/
@media screen and (max-width: 768px) {
    .beauty-menu {
        width: 100%;
        height: auto;
    }
    .beauty-menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
        /*Para fazer com que o menu saia da esquerda, você deve trocar max-height por max-width*/
        /*Para fazer com que o menu saia da direita, você deve trocar max-height por max-width e setar float: right*/
    }
    .beauty-menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        padding: 10px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked ~ ul {
        max-height: 350px;
        /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
    }
    .menu-icon i {
        font-size: 1.7em;
    }
}


